{{ partial "header.html" . }}

<main>
    {{partial "mapotecanav.html" .}}
    <section class="mapoteca-main">
    <section>
        <div class="wrapper">
        <nav aria-label="breadcrumb" class="breadcrumb">
        <ol>
            {{ range .Ancestors.Reverse }}        
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            <li class="active">
            <a aria-current="page" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
        </ol>
        </nav>

        {{ .Content }}

        <article class="section">
        {{ range.Data.Pages }}
        <div class="mapa-en-lista">
            <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
            {{ with .Resources.GetMatch "pdf" }}
                <embed src="{{ .RelPermalink }}" type="application/pdf" width="220" height="300">                             
            {{end}}
            <!-- solo mostrar tiempo si hay un pdf en la carpeta -->
            {{if .Resources.GetMatch "pdf"}}
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ dateFormat "January 2, 2006" .Date }}
            </time>
            {{end}}
            {{ if not (.Resources.GetMatch "pdf") }}
            <a href="{{ .RelPermalink }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="70" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                </svg>
            </a>
            {{ end }}

            <!-- {{ range .Resources.ByType "image" }}
            {{ with .Resize "150x webp q75" }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
            {{ end }}
            {{ end }} -->
            
            </div>
            {{ end }}
        </article>
        </div>
    </section>
  </section>
</main>

{{ partial "footer.html" . }}
