{{ partial "header.html" . }}
<main>
  <section class="section pagina-inicio">
    <div class="wrapper">
      <h1 class="section-title text-center">{{.Title}}</h1>
    </div>
  </section>
  <section class="section">
    <div class="wrapper">
      <div class="equal-columns-3">
        <a href="./mapoteca">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#e3e3e3"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"
            />
          </svg>
          <h2>Mapoteca</h2>
          <p>
            Conjunto de mapas prediseñados de diferentes temáticas, que facilita
            la visualización, análisis y gestión de información estadística
            espacial
          </p>
        </a>
        <a href="./geoservicios">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#e3e3e3"
          >
            <g><rect fill="none" height="24" width="24" /></g>
            <g>
              <path
                d="M16,9V4l1,0c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H7C6.45,2,6,2.45,6,3v0 c0,0.55,0.45,1,1,1l1,0v5c0,1.66-1.34,3-3,3h0v2h5.97v7l1,1l1-1v-7H19v-2h0C17.34,12,16,10.66,16,9z"
                fill-rule="evenodd"
              />
            </g>
          </svg>
          <h2>Geoservicios</h2>
          <p>
            Publicación de los servicios web WMS y WFS conforme a los estándares
            del Open Geospatial Consortium (OGC) para utilizar con SIG
          </p>
        </a>
        <a href="./visor">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#e3e3e3"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"
            />
          </svg>
          <h2>Visor</h2>
          <p>
            Aplicación web interactiva para visualizar, consultar y analizar
            información geográfica
          </p>
        </a>
      </div>
    </div>
  </section>
</main>

{{ partial "footer.html" . }}
